body {
    margin: 0;
    background-color: #9cd1ff;
    font-family: "Euclid Circular A", "Poppins";
}

p {
    font-family: Arial;
    font-size: 20px;
}

.encabezado {
    font-size: 80px;
    text-align: center;
}

.hindex {
    font-size: 40px;
}

.copyright {
    font-size: 14px;
}

:root {
    --color-primary: #2f67ec;
}

menu {
    font-family: "Euclid Circular A", "Poppins";
    background: #12161f;
    color: white;
    margin: 0;
    height: fit-content;
    display: grid;
    place-items: center;
}

nav {
    position: relative;
    background: #1f2635;
    font-weight: 400;
    font-size: 0;
    display: inline-flex;
    padding: -10;
    width: 85%;
}

nav .item {
    text-decoration: none;
    color: #F8F8F8;
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    z-index: 4;
    min-width: 19%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.dropdown {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 62px;
}
.dropdown > div {
    transform: translate(0, -100%);
    transition: all 0.5s 0.1s;
    position: relative;
}

.dropdown a {
    font-family: "Euclid Circular A", "Poppins";
    display: block;
    padding: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: var(--color-primary);
    color: #E8E8E8;
    text-decoration: none;
}

.dropdown a:hover {
    background: #254fb5;
}

.underline {
    height: 6px;
    background: var(--color-primary);
    position: absolute;
    bottom: 0;
    width: 20%;
    z-index: 1;
    pointer-events: none;
    transition: 0.35s;
}

nav .item:hover > .dropdown > div {
    transform: translate(0);
}

nav .item:nth-child(1):hover ~ .underline {
    transform: translate(0, 0);
}

nav .item:nth-child(2):hover ~ .underline {
    transform: translate(100%, 0);
}

nav .item:nth-child(3):hover ~ .underline {
    transform: translate(200%, 0);
}

nav .item:nth-child(4):hover ~ .underline {
    transform: translate(300%, 0);
}

nav .item:nth-child(5):hover ~ .underline {
    transform: translate(400%, 0);
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.socials a {
    font-size: 24px;
}

.links a {
    font-family: "Euclid Circular A", "Poppins";
    gap: 10px;
    color: #E8E8E8;
    text-decoration: wavy;
}

.legal {
    font-size: 12px;
    margin: 0;
}

svg {
position: bottom;
top: 0;
left: 0;
width: 61.5%;
height: 100%;
transform: scaleY(2) scaleX(2.25);
transform-origin: bottom;
box-sizing: border-box;
display: block;
pointer-events: none;
}

#footer {
position: relative;
left: 0;
bottom: 0;
display: flex;
width: 100%;
height: 480px;
padding-left: 0;
}

.foot {
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 30px;
padding-bottom: 15px;
padding-left: 60px;
width: 100%;
}

@media (width > 420px) {
    section {
        align-items: center;
        padding-left: 0;
        gap: 20px;
    }

    .links {
        gap: 20px;
        color: #F8F8F8;
    }
}

button.ver-mas, button.agregar-carrito {
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.ver-mas:hover {
    background-color: #3700b3;
}

button.agregar-carrito {
    background-color: #ff6600;
}

button.agregar-carrito:hover {
    background-color: #e65c00;
}

#paquetes img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 150px;
}


h1 {
    text-align: center;
    font-size: 2.5em;
}

#introduccion p {
    text-align: center;
    font-size: 1.5em;
}

#paquetes ul {
    text-align: center;
    padding: 0;
}

#paquetes li {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

#paquetes p, 
#paquetes button {
    text-align: center;
}

#paquetes strong {
    text-align: center;
    display: block;
    margin: 10px 0;
}

#paquetes button.ver-mas {
    display: block;
    margin: 10px auto;
}

#carrito {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#carrito h2 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
}

#carrito-contenido div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

#total-carrito {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

button.eliminar-todo {
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.eliminar-todo:hover {
    background-color: #b30000;
}