.carrito_compras {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
}

.carrito_barra {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: 0.3s ease;
    z-index: 999;
}

.carrito_barra h2 {
    position: sticky;
    top: 0;
    background-color: #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    z-index: 1;
}

.carrito_barra p {
    font-size: 18px;
    margin-bottom: 30px;
}

.carrito_barra button {
    background-color: whitesmoke;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998;
}

.carrito_barra.open {
    right: 0;
}

.overlay.open {
    display: block;
}